
html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Metropolis-Regular", "Segoe UI", Helvetica Neue, Helvetica, sans-serif
}

h1 {
  font-size: calc(1rem + 6vw);
}

.container-main {
  margin: 1rem;
}
